body {
    margin: 0;
    padding: 0;
    background: url('https://www.sunhome.ru/i/wallpapers/122/oboi-nebo-i-more.orig.jpg');
    background-size: cover;
  }
  
  a{
    font-size: 2rem;
    color: black;
  }
  
  #trafficLight1 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: black;
  }
  
  #trafficLight2 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: black;
  }
  
  #trafficLight3 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: black;
  }